[submodule "src/plugins/simplepie"]
	path = src/plugins/simplepie
	url = https://github.com/simplepie/simplepie.git
[submodule "src/plugins/propel"]
	path = src/plugins/propel
	url = https://github.com/propelorm/Propel.git
