[submodule "src/plugins/simplepie"]
	path = src/plugins/simplepie
	url = git@github.com:simplepie/simplepie.git
[submodule "src/plugins/propel"]
	path = src/plugins/propel
	url = git@github.com:propelorm/Propel.git
