<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="RSS Reader test suite">
			<directory suffix="Test.php">./tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory>./src</directory>
			<exclude>
				<directory>./src/build</directory>
				<directory>./src/config</directory>
				<directory>./src/dao</directory>
				<directory>./src/views</directory>
			</exclude>
		</whitelist>
	</filter>
	<php>
		<const name="BASE_URL" value="BASE_URL"/>
	</php>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>