@title-font: 'Montserrat', sans-serif;

@feed-link-text: #ffffff;
@feed-link-bg: #232323;
@feed-link-bg-hover: #2e2e2e;
@feed-link-bg-active: #2e2e2e;
@feed-link-bg-active-marker: #1b7e5a;
@feed-link-border: #2c2c2c;

@link-color: #2BA6CB;

@entry-list-bg: #eeebe4;
@entry-link-text: #ffffff;
@entry-link-text-hover: #0088cc;
@entry-link-text-active: #0088cc;
@entry-link-text-read: #bbb;
@entry-link-bg: #232323;
@entry-link-bg-hover: #2e2e2e;
@entry-link-bg-active: #2e2e2e;
@entry-link-bg-read: #2e2e2e;
@entry-link-border: #2c2c2c;

@header-height: 30px;
@header-bg: #166549;
@header-bg-hover: #1b7e5a;
@menu-width: 350px;

html, body {
	padding: 0;
	margin: 0;
}

body {
	padding-top: 50px;
}

* {
	/*font-family: 'Montserrat', sans-serif;*/
}

.ajax-overlay {
	background-color: #fff;
	opacity: 0.7;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 99999;
}
.ajax-loader {
	background: url("../images/spinner_squares_circle.gif") no-repeat center center transparent;
	width:100%;
	height:100%;
}

/*#header {
	padding: 15px 0;
	h1.title {
		font-size: 2em;
		padding: 0;
		margin: 0;
	}
	div.links {
		text-align: right;
	}
}*/

.load-feed-link {
	.feed-count {
		&:before {
			content: "(";
		}
		&:after {
			content: ")";
		}

	}
}

a, a:hover, a:focus {
	text-decoration: none;
}

[class^="icon-"], [class*=" icon-"]  {
	vertical-align: baseline;
	text-align: center;
}

#content {
	padding-top: 10px;
	div.feed-title {
		font-size: 1.4em;		
		padding: 7px 5px;
		padding-bottom: 20px;
		div.title {
			display: inline-block;
			color: inherit;
			font-family: inherit;
			font-variant: small-caps;
		}
		div.meta {
			display: inline-block;
			float: right;
			text-align: right;
			a {				
				i {
					font-size: 0.8em;
					color: inherit;
					text-decoration: none;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					padding: 8px 8px;
					&:hover {
						background-color: #eee;
					}
				}
			}
			span.dropdown {
				font-variant: normal;
				ul.dropdown-menu {
					right: 0;
					left: inherit;
					font-size: 0.6em;
					min-width: 0;			
					a {
						-webkit-border-radius: 0;
						-moz-border-radius: 0;
						border-radius: 0;
					}
				}
			}
		}
	}
	div.list-entries {
		padding-right: 0px;
		div.entries-date {
			padding: 5px;
			margin-bottom: 15px;
		}
		div.entry-container {
			border: 1px solid #ccc;
			margin-bottom: 15px;
			div.entry-link-container {
				overflow: hidden;
				padding: 5px;
				> div {
					padding: 5px;
				}
				> div:hover {
					color: @entry-link-text-hover;
				}
				&.active {
					color: @entry-link-text-active;
				}
				&.read {
					color: @entry-link-text-read;
				}
				div.load-entry-link {
					width: auto;
					overflow: hidden;
					cursor: pointer;
					div.title-wrapper {
						float: left;
						width: 100%;
						div.title {
							margin-right: 100px;
						}
					}				
					div.date {
						width: 100px;
						margin-left: -100px;
						float: left;
						text-align: right;
					}

				}
				div.remove {
					float: right;
					width: 25px;
					text-align: center;
					a {
						color: inherit;
						text-decoration: none;
					}
				}
			}		
			div.load-entry-div {
				display: none;
				p {
					margin: 0;
				}
				div.entry-menu {
					/*background-color: #eeebe4;*/
					padding: 0 5px;
					a {
						color: #232323;
						font-size: 0.6em;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;
						display: inline-block;
						padding: 4px 8px;
						text-decoration: none;
						font-weight: bold;
						i {
							font-size: inherit;
						}
						&:hover {
							background-color: #ddd;
						}
						&.read-link {
							display: none;
						}
					}
					a.source-link {
						display: none;
					}
				}
				div.entry-content {
					padding: 5px;
					background-color: white;
				}
			}
		}
	}
	form.login-form,
	form.feed-form,
	form.settings-form {
		* {
			font-family: @title-font;
		}
		label {
			display: block;
			margin-bottom: 10px
		}
		input, select {
			display: block;
			margin-bottom: 15px;
		}
	}
	&.padding-20 {
		padding: 20px;
	}
}

iframe {
	border: none;
	border-top: 1px solid #ccc;;
}

.nav-header {
	cursor: pointer;
}

