$title-font: 'Dosis', Helvetica, Arial, sans-serif;
$body-font: 'Gudea', sans-serif;

$default-text-color: #444;

$feed-link-bg-active: #EDA15E;
$feed-link-bg-hover: #FAE4D1;

$feed-link-text: #ffffff;
$feed-link-bg: #232323;


$feed-link-bg-active-marker: #1b7e5a;
$feed-link-border: #2c2c2c;

$link-color: #2BA6CB;

$entry-list-bg: #eeebe4;
$entry-link-text: #ffffff;
$entry-link-text-hover: #e67e22;
$entry-link-text-active: #0088cc;
$entry-link-text-read: #bbb;
$entry-link-bg: #232323;
$entry-link-bg-hover: #2e2e2e;
$entry-link-bg-active: #2e2e2e;
$entry-link-bg-read: #2e2e2e;
$entry-link-border: #2c2c2c;

$header-height: 40px;
$header-bg: #e67e22;
$header-bg-hover: #d35400;
$menu-width: 325px;

$footer-menu-height: 30px;

html, body {
	padding: 0;
	margin: 0;
}

body {
	/*padding-top: 50px;*/
	overflow: hidden;
}

* {
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: $body-font;
}

a {
	color: $default-text-color;
	&:hover {
		color: $header-bg;
	}
}

img {
	max-width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.ajax-overlay {
	background-color: #fff;
	opacity: 0.7;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 99999;
}
.ajax-loader {
	background: url("../images/spinner_squares_circle.gif") no-repeat center center transparent;
	width:100%;
	height:70px;
}
.ajax-loader-text {
	/*margin: auto 0;*/
	/*vertical-align: center;*/
	margin-top: 200px;
	text-align: center;
	color: black;
}

a, a:hover, a:focus {
	text-decoration: none;
}

[class^="icon-"], [class*=" icon-"]  {
	vertical-align: baseline;
	text-align: center;
}

.navbar {
	margin: 0;
}

form {
	fieldset {
		border: 0;
		label {
			display: block;
			margin-bottom: 10px;
		}
		input, select {
			display: block;
			margin-bottom: 15px;
			min-width: 300px;
		}
	}
}

.dropdown-menu {
	border: 1px solid #ccc;
	padding: 0;
	margin: 0;
    visibility: hidden;
    position: absolute;
    top: 130%;
    right: 0;
    height: auto;
    /*opacity: 0;*/
    transition: all 0.1s;
    background: #fff;
    li {
    	min-width: 100px;
    	width: auto;
		float: none;
		list-style-type: none;
		a {
			display: block;
			line-height: 25px;
			padding: 0 10px;
			white-space: nowrap;
		}
		&.divider {
			border-bottom: 1px solid #ccc;
		}
	}
}
span.dropdown {
	position: relative;
}

span.dropdown:hover .dropdown-menu {
	visibility: visible;
	top: 110%;
	opacity: 1;
}

div.modal {
	display: none;
	background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin-left: -280px;
    outline: 0 none;
    position: fixed;
    top: 10%;
    width: 560px;
    z-index: 20;
	&.fade {
		transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;
		opacity: 1;
	}
	div.modal-header {
		border-bottom: 1px solid #EEEEEE;
		padding: 9px 15px;
		h3 {
			line-height: 30px;
			margin: 0;
		}
		.close {
			color: #000000;
			float: right;
			font-size: 20px;
			font-weight: bold;
			line-height: 30px;
			opacity: 0.2;
			text-shadow: 0 1px 0 #FFFFFF;
		}
	}
	div.modal-body {
		max-height: 400px;
		overflow-y: auto;
		padding: 15px;
		position: relative;
	}
	div.modal-footer {
		background-color: #F5F5F5;
		border-radius: 0 0 6px 6px;
		border-top: 1px solid #DDDDDD;
		box-shadow: 0 1px 0 #FFFFFF inset;
		margin-bottom: 0;
		padding: 14px 15px 15px;
		text-align: right;
	}
}

.modal-backdrop {
	display: none;
	background-color: #000000;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
	opacity: 0.7;
}

.btn {
	background-color: #F5F5F5;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 4px 12px;
	text-align: center;
	vertical-align: middle;
	&:hover {
		border-color: #aaa;
		color: $default-text-color;
	}
	&.btn-primary {
		background-color: $header-bg;
		color: #fff;
		border: 0;
		&:hover {
			background-color: $header-bg-hover;
			color: #fff;
		}
	}
}

nav#header {
	height: $header-height;
	line-height: $header-height;
	background-color: $header-bg;
	* {
		line-height: $header-height;
	}
	a {
		color: #fff;
		&:hover {
			background-color: $header-bg-hover;
		}
	}
	a.brand {
		display: block;
		float: left;
		line-height: inherit;
		padding: 0 15px;
		font-size: 20px;
		font-family: $title-font;
	}
	ul {
		float: left;
		display: inline-block;
		padding: 0;
		margin: 0;
		&.pull-right {
			float: right;
		}
		li {
			float: left;
			list-style-type: none;
			position: relative;
			a {
				display: block;
				line-height: inherit;
				padding: 0 15px;
			}
		}
	}
}

div#main-table {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 0;
	margin: 0;
}

div#left-menu {
	
	/*position: fixed;
	top: $header-height + 5;
	left: 0;
	bottom: 0;
	overflow: auto;
	width: $menu-width;
	*/
	white-space: nowrap;
	display: table-cell;
	/*overflow-y: scroll;*/
	position: relative;
	vertical-align: top;
	z-index: 14;
	width: $menu-width;
	height: 200px;
	/*border-collapse: collapse;*/
}

div#content {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	/*border-collapse: collapse;*/
	z-index: 10;
}

div#left-menu-inner {
	position: relative;
	width: $menu-width;
}

div#feed-list-container {
	overflow-y: scroll;
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
}


.ajax-overlay-content {
	background-color: #fff;
	position: fixed;
	top: 45px;
	left: $menu-width;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 99999;
}

/* FEED LIST IN THE LEFT MENU */
#feed-list {
	padding: 0;
	margin: 0;
	ul {
		padding: 0;
		margin: 0;		
	}
	li {
		list-style: none;
		margin: 0;
		line-height: 22px;
		div, a span.feed-title {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: clip ellipsis;
		}
		&.category,
		&.load-feed-link {
			.category-count,
			.feed-count {
				display: inline;
				position: absolute;
				margin-top: 1px;
				right: 7px;
				height: 20px;
				padding: 0 5px;
				background: #5b5b5b;
				line-height: 20px;
				color: #cacaca;
				font-size: 10px;
				border-radius: 4px;
			}
			font-weight: bold;
			font-size: 12px;
			&.empty {
				font-weight: normal;
				.feed-count {
					display: none;
				}
			}
			&.not-valid {
				font-weight: normal;
				font-style: italic;
			}
		}
	}
	li.category {
		border-bottom: 1px solid #ccc;
		&:last-child {
			border-bottom: none;
		}
		padding-bottom: 5px;
		margin-bottom: 5px;
		div {
			cursor: pointer;
			padding: 2px 10px;
			font-size: 14px;
			font-weight: bold;
			i {
				float: left;
				font-size: 14px;
				padding: 3px;
				margin-right: 5px;
				vertical-align: middle;
			}
			&:hover {
				background-color: $feed-link-bg-hover;
			}
		}
		ul.feeds {
			li.load-feed-link {
				font-size: 14px;
				a {
					display: block;
					padding: 2px 20px;
					padding-right: 5px;
					color: $default-text-color;
					overflow: hidden;
					span.feed-title {
						max-width: $menu-width - 90px;
						margin-right: 5px;
						display: block;
						float: left;
					}
				}
				&:hover {
					background-color: $feed-link-bg-hover;
				}
				&.active {
					background-color: $feed-link-bg-active;
				}
			}
		}
		&.active {
			div {
				background-color: $feed-link-bg-active;
			}
		}
	}
}

#footer-menu {
	position: fixed;
	right: 0;
	bottom: 0;
	left: $menu-width;
	height: $footer-menu-height;
	background-color: #ddd;

	#entry-meta-links,
	#entry-navigation-links {
		display: inline-block;
		display: none;
		a {
			color: #232323;
			font-size: 12px;
			display: inline-block;
			padding: 0px 8px;
			margin: 0;
			text-decoration: none;
			font-weight: bold;
			line-height: $footer-menu-height;
			i {
				font-size: inherit;
			}
			&:hover {
				background-color: #ccc;
			}
			&.read-link {
				display: none;
			}
		}
	}

	#entry-meta-links {
		float: left;
		a {
			font-size: 10px;
		}
	}
	#entry-navigation-links {
		float: right;
		a {
			font-size: 12px;
		}
	}
}

#content {
	overflow-y: auto;

	#feed-content {
		position: relative;
		margin: 0;
		h1 {
			font-size: 20px;
		}
		h2 {
			font-size: 18px;			
		}
		h3, h4, h5, h6 {
			font-size: 16px;
		}
	
		> div.feed-title, > div.category-title {
			border-bottom: #ececec solid 1px;
			z-index: 10;
			position: fixed;
			right: 0;
			font-size: 1.4em;		
			padding: 30px 20px;
			background-color: white;
			margin: 0;
			div.title {
				display: inline-block;
				color: inherit;
				font-family: $title-font;
				/*font-family: inherit;*/
				/*font-variant: small-caps;*/
			}
			div.meta {
				display: inline-block;
				float: right;
				text-align: right;
				a {				
					i {
						font-size: 0.8em;
						color: #333333;
						text-decoration: none;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;
						padding: 8px 8px;
						&:hover {
							/*background-color: #eee;*/
							color: $entry-link-text-hover;
						}
					}
				}
				span.dropdown {
					font-variant: normal;
					text-align: left;
					ul.dropdown-menu {
						right: 0;
						left: inherit;
						font-size: 0.6em;
						min-width: 0;			
						a {
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							border-radius: 0;
						}
					}
				}
			}
		}
	}
	div.list-entries {
		position: absolute;
		left: 0;
		right: 0;
		overflow-y: auto;
		padding-right: 0px;
		div.entries-date {
			padding: 10px;
			background-color: #ccc;
			border-top: 1px solid white;
			border-bottom: 1px solid white;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: bold;
			color: white;
		}
		div.entry-container {
			border-bottom: 1px solid #ededed;
			border-collapse: collapse;
			div.entry-link-container {
				cursor: pointer;
				&:not(.active) {
					&:hover {
						margin-top: -1px;
						background-color: #ededed;
						border-top: 1px solid white;
					}
				}
				div.toggle-read {
				margin-right: 15px;
					a.mark-read {
						display: block;
					}
					a.mark-unread {
						display: none;
					}
				}
				&.read {
					div.toggle-read {
						a.mark-read {
							display: none;
						}
						a.mark-unread {
							display: block;
						}
					}
				}
				overflow: hidden;
				/*padding: 5px;*/
				font-size: 14px;
				> div {
					padding: 10px;
				}
				> div:hover {
					/*color: $entry-link-text-hover;*/
				}
				&.read, &.active {
					color: $entry-link-text-read;
				}
				/*&.active {
					color: $default-text-color;
				}*/				
				div.load-entry-link {
					width: auto;
					overflow: hidden;
					cursor: pointer;
					div.title-wrapper {
						float: left;
						width: 100%;
						div.feed-title {
							float: left;
							width: 200px;
							font-size: inherit;
							padding: 0;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: clip ellipsis;
							margin-right: 20px;
						}
						div.title {
							margin-right: 100px;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: clip ellipsis;
						}

					}				
					div.date {
						width: 100px;
						margin-left: -100px;
						float: left;
						text-align: right;
					}

				}
				div.remove-entry {
					float: right;
					width: 25px;
					text-align: center;
					cursor: pointer;
					a {
						color: inherit;
						text-decoration: none;
					}
				}
				div.toggle-read {
					float: right;
					text-align: center;
				}
			}		
			div.load-entry-div {
				display: none;
				p {
					margin: 15px 0;
				}
				div.entry-menu {
					/*background-color: #eeebe4;*/
					padding: 0 5px;
					
				}
				div.entry-content {	
					background-color: white;
					margin: 0 auto;
					margin-top: 25px;
					max-width: 800px;
					&.frame {
						max-width: 100%;
						margin: 0 10px;
						margin-top: 25px;
					}
					div.inner-title {
						font-size: 18px;
					}
					div.meta {
						font-size: 11px;
					}
					div.entry-content-text {
						margin-top: 35px;
					}
				}
			}
		}
	}
	form.login-form,
	form.feed-form,
	form.settings-form {
		* {
			font-family: $body-font;
		}
		label {
			display: block;
			margin-bottom: 10px
		}
		input, select {
			display: block;
			margin-bottom: 15px;
		}
	}
	&.padding-20 {
		padding: 20px;
	}
}

iframe {
	border: none;
	border-top: 1px solid #ccc;;
}

.nav-header {
	cursor: pointer;
}

#category-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
	li {
		margin: 0 3px 3px 3px;
		padding: 0.4em;
		padding-left: 1.5em;
		height: 18px;
		span {
			position: absolute;
			margin-left: -1.3em;
		}
	}
}
