/* CSS Styles */

@title-font: 'Montserrat', sans-serif;

* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

body, html {
	margin: 0;
	padding: 0;
}

div.grid-container {
}

div.fixed {
	overflow: auto;	
	height: 100%;
}

#left-menu {
	padding: 0;
	position: fixed;
	height: 100%;
	width: 350px;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: auto;
		li {
			font-family: @title-font;
			font-size: 0.8em;
			overflow: hidden;
			&.list-feed-header {
				font-variant: small-caps;
				font-size: 1.2em;
			}
			&.load-feed-link {
				padding: 0;
				cursor: pointer;
				&:hover {
					background-color: #2e2e2e;
				}
			}
			&.list-feed-action,
			&.list-feed-header {
				a {
					text-decoration: none;
					color: inherit;
					font-family: inherit;
					display: block;
					padding: 5px;
					&:hover {
						background-color: #2e2e2e;
					}
				}
			}
			position: relative;			
			div.feed-title {
				padding: 7px 5px;
				font-family: inherit;
				width: 280px;
				float: left;
			}
			div.feed-count {
				margin: 6px 10px;
				padding: 1px 5px;
				font-family: inherit;
				float: right;
				-webkit-border-radius: 8px;
				-moz-border-radius: 8px;
				border-radius: 8px;
				background-color: #ccc;
				color: #232323;
			}
			display: block;			
			border: 1px solid #2c2c2c;
			border-top: none;			
			background-color: #232323;
			color: white;
			&:first-child {
				border: 1px solid #2c2c2c;
			}
			&.active {
				&:before {
					display: block;
					content: ' ';
					background-color: #1b7e5a;
					border: 1px solid #1b7e5a;
					position: absolute;
					top: -1px;
					left: -2px;
					height: 100%;
					width: 15px;
				}
				background-color: #2e2e2e;
				div.feed-title {				
					margin-left: 20px;
					width: 260px;
				}
				div.feed-count {
					background-color: #1b7e5a;
				}
			}
		}
	}
}

#content {
	position: fixed;
	height: 100%;
	left: 350px;
	right: 0px;
	background-color: #232323;
	div.feed-title {
		font-family: @title-font;
		font-size: 1.2em;
		font-variant: small-caps;
		padding: 7px 5px;
		margin-bottom: 10px;		
		color: white;
	}
	div.list-entries {
		padding-right: 10px;
		div.load-entry-link {
			color: white;
			border: 1px solid #2c2c2c;
			border-top: none;			
			background-color: #232323;
			&:first-child {
				border: 1px solid #2c2c2c;
			}
			&:hover {
				background-color: #2e2e2e;
			}
			cursor: pointer;
			padding: 5px;			
			&.read {
				color: #457b87;
				
				&.active {
					color: #579aa9;
					background-color: #2e2e2e;
				}
			}
		}
		div.load-entry-div {			
			p {
				margin: 0;
			}
			div.entry-menu {
				background-color: #eeebe4;
				padding: 5px;
				a {
					color: #232323;
				}
				a.source-link {
					display: none;
				}
			}
			div.entry-content {
				padding: 5px;
				background-color: white;
			}
			display: none;
			border: 1px solid #ccc;
			border-top: none;
		}
	}
}

iframe {
	border: none;
}